<!-- PrvtCMS -->
<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>关于我们</title>
    
    <meta name="keywords" content="" />
    <meta name="description" content=""/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css" rel="stylesheet"  /> -->

    <link href="https://cdn.prvt.site:8083/cdn/sites/prvt.website/statics/index.min.css" rel="stylesheet"  />
</head>

<body>
    <div class="container-fluid">
            <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary navbar-header">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">导航网站</a>
            
                <button class="navbar-toggler d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar">
                <i class="bi bi-signpost-split-fill"></i>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="bi bi-pentagon"></i> 首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#id6"><i class="bi bi-signpost-split"></i> AI导航</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#id11"><i class="bi bi-signpost-2"></i> 导航</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#id16"><i class="bi bi-pin-map"></i> 旅途风景</a></li>
                    <li class="nav-item"><a class="nav-link" href="detail.html"><i class="bi bi-person-heart"></i> 关于我们</a></li>
                </ul>
                </div>
            </div>
        </nav>
      
        <div class="row">
            <div class="d-none d-md-block bt-sidebar" id="sidebar">
                <ul class="tree-menu">
                    <li class="d-block active">
                        <a href="index.html" class2="d-block d-md-none"><i class="bi bi-pentagon"></i>首页</a>
                    </li>
                    <li class="d-block   collapsed">
                        <a class2="d-block d-md-none"><i class="bi bi-signpost-split"></i>AI导航</a>
                        <ul>
                            <li class="">
                                <a href="index.html#id6"><i class="bi bi-book"></i>写作创作</a>
                            </li>
                            <li class="">
                                <a href="index.html#id7"><i class="bi bi-code-slash"></i>编程开发</a>
                            </li>
                            <li class="">
                                <a href="index.html#id8"><i class="bi bi-vector-pen"></i>设计创作</a>
                            </li>
                            <li class="">
                                <a href="index.html#id9"><i class="bi bi-images"></i>图片处理</a>
                            </li>
                            <li class="">
                                <a href="index.html#id10"><i class="bi bi-vector-pen"></i>原型设计</a>
                            </li>
                        </ul>
                    </li>
                    <!-- 有子项菜单，不绑定链接，可展开折叠子项。 -->
                    <li class="d-block   collapsed">
                        <a class2="d-block d-md-none"><i class="bi bi-signpost-2"></i>导航</a>
                        <ul>
                            <li class="">
                                <a href="index.html#id11"><i class="bi bi-diagram-3"></i>思维导图</a>
                            </li>
                            <li class="">
                                <a href="index.html#id12"><i class="bi bi-textarea-t"></i>富文本编辑器</a>
                            </li>
                            <li class="">
                                <a href="index.html#id13"><i class="bi bi-images"></i>图片资源</a>
                            </li>
                            <li class="">
                                <a href="index.html#id14"><i class="bi bi-app"></i>图标资源</a>
                            </li>
                        </ul>
                    </li>
                    <li class="d-block   collapsed">
                        <a class2="d-block d-md-none"><i class="bi bi-pin-map"></i>旅途风景</a>
                        <ul>
                            <li class="">
                                <a href="index.html#id16"><i class="bi bi-image-alt"></i>山川湖海</a>
                            </li>
                        </ul>
                    </li>
                    <li class="d-block ">
                        <a href="detail.html" class2="d-block d-md-none"><i class="bi bi-person-heart"></i>关于我们</a>
                    </li>
                </ul>
            </div>
            <!-- content begin -->
            <div class="col bt-content">
                <div>
                    <div class="container mt-3 pt-3 text-center"> <p>感谢您访问当前主题，更多主题请移步<a href="https://github.com/gofangzhou/bootstrap-themes" target="_blank"><span style="color: rgb(66, 144, 247);"><strong>https://github.com/gofangzhou/bootstrap-themes</strong></span></a>。</p> </div>
                </div>

                <div style="height: 50px;"></div>
                <div class="text-center">Copyright © 2023 导航网站</div>
                <div style="height: 300px;"></div>
            </div>
            <!-- content end -->
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js" integrity="sha512-ToL6UYWePxjhDQKNioSi4AyJ5KkRxY+F1+Fi7Jgh0Hp5Kk2/s8FD7zusJDdonfe5B00Qw+B8taXxF6CFLnqNCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script type="text/javascript">
        (function(){
            const collogos = Array.from(document.getElementsByClassName('col-logo'));
            collogos.forEach(function(element){
                const url = element.getAttribute('data-css-background-image');
                element.style.backgroundImage = `url(${url})`;
            })

            document.getElementById('sidebar').addEventListener('click', function(event){
                let target;
                if(event.target.tagName == 'A'){
                    target = event.target.parentElement;
                }
                else if(event.target.tagName == 'LI'){
                    target = event.target;
                }
                if(target){
                    const lis = target.getElementsByTagName('li');
                    lis.length && (target.classList.contains('collapsed')?target.classList.remove('collapsed'):target.classList.add('collapsed'));
                }
            });

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => {
                const card_text = tooltipTriggerEl.getElementsByClassName('card-text');
                if(card_text && card_text.length){
                    tooltipTriggerEl.setAttribute('data-bs-title', card_text[0].innerText);
                }
                return new bootstrap.Tooltip(tooltipTriggerEl);
            })
        })()
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.highlightAll();
    </script> -->
</body>
</html>
