<!-- PrvtCMS -->
<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>导航网站</title>
    
    <meta name="keywords" content="导航网站、导航网站模板、bootstrap免费主题" />
    <meta name="description" content="导航网站主题模板"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css" rel="stylesheet"  /> -->

    <link href="index.min.css" rel="stylesheet"  />
</head>

<body>
    <div class="container-fluid">
            <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary navbar-header">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">导航网站</a>
            
                <button class="navbar-toggler d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar">
                <i class="bi bi-signpost-split-fill"></i>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="bi bi-pentagon"></i> 首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#id6"><i class="bi bi-signpost-split"></i> AI导航</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#id11"><i class="bi bi-signpost-2"></i> 导航</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#id16"><i class="bi bi-pin-map"></i> 旅途风景</a></li>
                    <li class="nav-item"><a class="nav-link" href="detail.html"><i class="bi bi-person-heart"></i> 关于我们</a></li>
                </ul>
                </div>
            </div>
        </nav>
      
        <div class="row">
            <div class="d-none d-md-block bt-sidebar" id="sidebar">
                <ul class="tree-menu">
                    <li class="d-block active">
                        <a href="index.html" class2="d-block d-md-none"><i class="bi bi-pentagon"></i>首页</a>
                    </li>
                    <li class="d-block   collapsed">
                        <a class2="d-block d-md-none"><i class="bi bi-signpost-split"></i>AI导航</a>
                        <ul>
                            <li class="">
                                <a href="#id6"><i class="bi bi-book"></i>写作创作</a>
                            </li>
                            <li class="">
                                <a href="#id7"><i class="bi bi-code-slash"></i>编程开发</a>
                            </li>
                            <li class="">
                                <a href="#id8"><i class="bi bi-vector-pen"></i>设计创作</a>
                            </li>
                            <li class="">
                                <a href="#id9"><i class="bi bi-images"></i>图片处理</a>
                            </li>
                            <li class="">
                                <a href="#id10"><i class="bi bi-vector-pen"></i>原型设计</a>
                            </li>
                        </ul>
                    </li>
                    <!-- 有子项菜单，不绑定链接，可展开折叠子项。 -->
                    <li class="d-block   collapsed">
                        <a class2="d-block d-md-none"><i class="bi bi-signpost-2"></i>导航</a>
                        <ul>
                            <li class="">
                                <a href="#id11"><i class="bi bi-diagram-3"></i>思维导图</a>
                            </li>
                            <li class="">
                                <a href="#id12"><i class="bi bi-textarea-t"></i>富文本编辑器</a>
                            </li>
                            <li class="">
                                <a href="#id13"><i class="bi bi-images"></i>图片资源</a>
                            </li>
                            <li class="">
                                <a href="#id14"><i class="bi bi-app"></i>图标资源</a>
                            </li>
                        </ul>
                    </li>
                    <li class="d-block   collapsed">
                        <a class2="d-block d-md-none"><i class="bi bi-pin-map"></i>旅途风景</a>
                        <ul>
                            <li class="">
                                <a href="#id16"><i class="bi bi-image-alt"></i>山川湖海</a>
                            </li>
                        </ul>
                    </li>
                    <li class="d-block ">
                        <a href="detail.html" class2="d-block d-md-none"><i class="bi bi-person-heart"></i>关于我们</a>
                    </li>
                </ul>
            </div>
            <!-- content begin -->
            <div class="col bt-content">
                <div>
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-book"></i> 写作创作
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id6"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://xiezuocat.com/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/xiezuocat.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">写作猫</h6>
                                        <p class="card-text hidden-ellipsis">如果您不相信AI能得体地进行中文表达，如果您的工作、学习涉及较多文书写作，请一定要试试写作猫。我们基于大规模概率语言模型，学习海量文本知识，让AI学会流畅地表达中文。</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://www.writingo.net/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/writingo.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">火山写作</h6>
                                    
                                        <p class="card-text hidden-ellipsis">火山写作是由字节跳动推出的，集成创作、润色、纠错、改写、翻译等能力的中英文 AI 写作助手。</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://effidit.qq.com/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/effidit.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">腾讯Effidit</h6>
                                    
                                        <p class="card-text hidden-ellipsis">智能创作助手 Effidit（Efficient and Intelligent Editing） 是由腾讯 AI Lab 开发的一个研究性原型系统，探索用 AI 技术提升写作者的写作效率和创作体验（在线体验推荐使用 Chrome 或 Microsoft Edge 浏览器）.</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://huixie.iflyrec.com/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/iflyrec.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">讯飞听见</h6>
                                    
                                        <p class="card-text hidden-ellipsis">场景化写作，内容一键生成。</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-code-slash"></i> 编程开发
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id7"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://github.com/features/copilot/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/copilot.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">Github Copilot</h6>
                                
                                    <p class="card-text hidden-ellipsis">GitHub Copilot is an AI pair programmer that helps you write code faster and with less work. It draws context from comments and code, and suggests individual lines and whole functions instantly. GitHub Copilot is powered by OpenAI Codex, a new AI system created by OpenAI.</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://codegeex.cn/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/codegeex.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">CodeGeeX</h6>
                                
                                    <p class="card-text hidden-ellipsis">CodeGeeX是一款基于大模型的全能的智能编程助手。它可以实现代码的生成与补全、自动添加注释、代码翻译以及智能问答等功能，能够帮助开发者显著提高工作效率。CodeGeeX支持主流的编程语言，并适配多种主流IDE。</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://codeium.com/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/codeium.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">Codeium</h6>
                                
                                    <p class="card-text hidden-ellipsis">A Free AI-Powered Toolkit for Developers.</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                    </div>
                
        
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-vector-pen"></i> 设计创作
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id8"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://www.logosc.cn/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/logosc.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">标小智LOGO设计神器</h6>
                                
                                    <p class="card-text hidden-ellipsis">人工智能为您在线LOGO设计，生成企业VI，打造个性品牌！</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                    </div>
                
        
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-images"></i> 图片处理
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id9"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://www.remove.bg/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/remove.bg.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">remove.bg</h6>
                                
                                    <p class="card-text hidden-ellipsis">轻点一下，即可在5秒钟内100%自动去除背景</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                    </div>
                  
                  
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-vector-pen"></i> 原型设计
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id10"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://pixso.cn/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/pixso.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">Pixso</h6>
                                    
                                        <p class="card-text hidden-ellipsis">Pixso，把产品设计得更美好</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                
        
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-diagram-3"></i> 思维导图
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id11"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="http://www.mindline.cn/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/mindline.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">MindLine思维导图</h6>
                                
                                    <p class="card-text hidden-ellipsis">快速高效制作思维导图工具，打开即可制作。</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                    </div>
                
        
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-textarea-t"></i>富文本编辑器
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id12"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://www.wangeditor.com/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/wangeditor-ijj-tqo.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">wangEditor</h6>
                                
                                    <p class="card-text hidden-ellipsis">开源 Web 富文本编辑器，开箱即用，配置简单</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://textbus.io/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/TextBUS-vcq.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">TextBUS</h6>
                                    
                                        <p class="card-text hidden-ellipsis">一个组件化、高性能的富文本开发框架</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://froala.com/wysiwyg-editor/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/froala-1-hog.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">Froala</h6>
                                    
                                        <p class="card-text hidden-ellipsis">这款被很多人称为史上最NB的编辑器，的确它功能强大，插件丰富，可自定义主题和插件</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://www.tiny.cloud/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/tiny-tgf.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">tiny</h6>
                                    
                                        <p class="card-text hidden-ellipsis">Trusted WYSIWYG editor,Gives devs control over their editing component.</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-images"></i> 图片资源
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id13"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://pixabay.com/zh/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/pixabay-nug-j75.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">pixabay</h6>
                                
                                    <p class="card-text hidden-ellipsis">Pixabay拥有超过2.7百万张优质图片和视频素材，让你轻松应对各种设计场景</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://www.pexels.com/zh-cn/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/pexels-jf2-7om.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">pexels</h6>
                                
                                    <p class="card-text hidden-ellipsis">才华横溢的摄影作者在这里免费分享最精彩的素材图片和视频。</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                    </div>
                
        
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-app"></i> 图标资源
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id14"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://icons.bootcss.com/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/Bootstrap-icon-wvo-wxk.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">Bootstrap 官方图标库</h6>
                                    
                                        <p class="card-text hidden-ellipsis">包含 1800 多个图标的免费、高质量的开源图标库。你可以以任何方式使用它们，例如 SVG 矢量图、SVG sprite 或 web 字体形式。不管你是否使用 Bootstrap ，都可以使用本图标库。</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a class="link-app" href="https://www.iconfont.cn/" target="_blank">
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                            <div class="row g-0">
                                <div class="col-logo" data-css-background-image="statics/iconfont-k4n-r7r.png"></div>
                            
                                <div class="col">
                                <div class="card-body">
                                    <h6 class="card-title">Iconfont</h6>
                                
                                    <p class="card-text hidden-ellipsis">设计师将图标上传到 iconfont 平台，用户可以自定义下载多种格式的icon，平台也可将图标转换为字体，便于前端工程师自由调整与调用。</p>
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a class="link-app" href="https://igoutu.cn/" target="_blank">
                                <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
                                <div class="row g-0">
                                    <div class="col-logo" data-css-background-image="statics/icons8-2ws-2ch.png"></div>
                                
                                    <div class="col">
                                    <div class="card-body">
                                        <h6 class="card-title">icons8</h6>
                                    
                                        <p class="card-text hidden-ellipsis">Icons8可以将语言切换为中文方便我们使用，素材资源数量非常丰富，同时网站也提供各种格式，各种尺寸和配色。Icons8除了将图示按照类别分类外，还利用不同平台的设计风格准则加以区隔，例如有iOS10、Windows、Android、Google、Office。</p>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                
        
                    <h5 class="mb-3 pt-3 pb-3">
                        <i class="bi bi-image-alt"></i> 山川湖海
                    </h5>
                    <span style="position:absolute;margin-top:-200px;" id="id16"></span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a href="/content/16/1/24" class="card card-img-item mb-3">
                                <img src="statics/lgh_17_00001-9g2.jpg" class="card-img-top" alt="..." />
                            
                                <div class="card-body">
                                <h6 class="card-title">泸沽湖-格姆女神山</h6>
                                
                                <p class="card-text text-truncate-2" style="min-height:3rem;">格姆女神山也叫狮子山，海拔3770米，是泸沽湖四周最高的山峰。</p>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a href="/content/16/1/25" class="card card-img-item mb-3">
                                <img src="statics/ems-anu[1]-vt9.jpg" class="card-img-top" alt="..." />
                            
                                <div class="card-body">
                                <h6 class="card-title">峨眉山云海</h6>
                                
                                <p class="card-text text-truncate-2" style="min-height:3rem;">云海瞬息万变，时而平铺絮绵，时而波涛漫卷，时而簇拥如山，时而聚结蓬堆，时而分割如窟。随着风势，云层缥缈多变，神奇莫测，如骑龙跨凤，车舆队仗。</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                            <a href="/content/16/1/26" class="card card-img-item mb-3">
                                <img src="statics/xd-es1.jpg" class="card-img-top" alt="..." />
                            
                                <div class="card-body">
                                <h6 class="card-title">泸沽湖-里格半岛</h6>
                                
                                <p class="card-text text-truncate-2" style="min-height:3rem;">早晨的里格半岛很神秘，被晨雾所围绕，从岛外看起来若隐若现，宛如仙境。</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
                        <a href="/content/16/1/27" class="card card-img-item mb-3">
                            <img src="statics/lghm-0ie.jpg" class="card-img-top" alt="..." />
                        
                            <div class="card-body">
                            <h6 class="card-title">泸沽湖-随拍</h6>
                            
                            <p class="card-text text-truncate-2" style="min-height:3rem;">泸沽湖，一湖跨两省。这里的主要景点围绕在湖边，无论是骑行还是自驾环湖一周观景拍照都非常惬意。</p>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>

                <div style="height: 50px;"></div>
                <div class="text-center">Copyright © 2023 导航网站</div>
                <div style="height: 300px;"></div>
            </div>
            <!-- content end -->
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js" integrity="sha512-ToL6UYWePxjhDQKNioSi4AyJ5KkRxY+F1+Fi7Jgh0Hp5Kk2/s8FD7zusJDdonfe5B00Qw+B8taXxF6CFLnqNCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script type="text/javascript">
        (function(){
            const collogos = Array.from(document.getElementsByClassName('col-logo'));
            collogos.forEach(function(element){
                const url = element.getAttribute('data-css-background-image');
                element.style.backgroundImage = `url(${url})`;
            })

            document.getElementById('sidebar').addEventListener('click', function(event){
                let target;
                if(event.target.tagName == 'A'){
                    target = event.target.parentElement;
                }
                else if(event.target.tagName == 'LI'){
                    target = event.target;
                }
                if(target){
                    const lis = target.getElementsByTagName('li');
                    lis.length && (target.classList.contains('collapsed')?target.classList.remove('collapsed'):target.classList.add('collapsed'));
                }
            });

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => {
                const card_text = tooltipTriggerEl.getElementsByClassName('card-text');
                if(card_text && card_text.length){
                    tooltipTriggerEl.setAttribute('data-bs-title', card_text[0].innerText);
                }
                return new bootstrap.Tooltip(tooltipTriggerEl);
            })
        })()
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.highlightAll();
    </script> -->
</body>
</html>
