<!-- @Register "component/template/base-page" to <v:page>  -->
<!-- @Register "pager" to <u:pager>  -->
<v:page>
  <page:container>
    <div class="container">
      
      <div class="row">
        <div class="col-12 col-md-12 col-xl-9">
          <div class="row">
            {%#news%}
            <div class="col-xs-12 col-sm-6 col-lg-4 ">
              <a href="{%link%}"  class="card mb-3">
                <img src="{%cover_image%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title">{%title%}</h6>
                  <p class="card-text text-truncate-2">{%description%}</p>
                </div>
              </a>
            </div>
            {%/news%}
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-3">
          {%#news%}
            <div class="list-group">
              <a href="{%link%}" class="list-group-item list-group-item-action">{%title%}</a>
            </div>
            {%/news%}
        </div>
      </div>
    </div>
    <u:pager></u:pager>
  </page:container>
</v:page>
