<!-- @Register "component/template/base-page" to <v:page>  -->
<!-- @Register "pager" to <u:pager>  -->
<v:page>
  <page:container>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-xl-9">
          {%#news%}
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 background-cover" style="background-image: url({%cover_image%});">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">{%title%}</h6>
                  <p class="card-text">{%description%}</p>
                  <p class="card-text"><small class="text-muted">{%publish_date%}</small></p>
                </div>
              </div>
            </div>
          </div>
          {%/news%}
        </div>
        <div class="col-12 col-md-12 col-xl-3">
          {%#news%}
              <div class="list-group">
                <a href="{%link%}" class="list-group-item list-group-item-action">{%title%}</a>
              </div>
              {%/news%}
        </div>
      </div>
    </div>
    <u:pager></u:pager>
  </page:container>
</v:page>
