<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  col-xxl-3">
    <a class="link-app" href="{%link%}" target="_blank">
        <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="">
            <div class="row g-0">
                <div class="col-logo" data-css-background-image="{%cover_image%}"></div>
                <div class="col">
                    <div class="card-body">
                        <h6 class="card-title">{%title%}</h6>
                        <p class="card-text hidden-ellipsis">{%description%}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>